<!DOCTYPE html>
<html lang="kr">
<head>
  <!-- header -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>SLiPP Java Web Programming</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<!-- navigation -->
<nav class="navbar navbar-fixed-top header">
		<div class="col-md-12">
			<div class="navbar-header">

				<a href="/users/news/1" class="navbar-brand">LIVE NEWS</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		
			<div class="navbar-header" style="margin-left:0.3rem;">

				<div style="position : absolute; height:100%;" ><div style="margin-top:10.5%; margin-bottom:auto;"><strong>뉴스로 배우는 영어학습</strong></div></div>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
				
		
			<div class="collapse navbar-collapse" id="navbar-collapse1">
			<!-- 	<form class="navbar-form pull-left">
					<div class="input-group" style="max-width: 470px;">
						<input type="text" class="form-control" placeholder="Search"
							name="srch-term" id="srch-term">
						<div class="input-group-btn">
							<button class="btn btn-default btn-primary" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</form> -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="glyphicon glyphicon-bell"></i></a>
						<ul class="dropdown-menu">
							<li><a href="https://slipp.net" target="_blank">SLiPP</a></li>
							<li><a href="https://facebook.com" target="_blank">Facebook</a></li>
						</ul></li>
					<li><a href="/users"><i
							class="glyphicon glyphicon-user"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="navbar navbar-default" id="subnav">
		<div class="col-md-12">
		
			<div class="collapse navbar-collapse" id="navbar-collapse2">
				<ul class="nav navbar-nav navbar-right">
				
					<li class="active"><a href="/users/news/1"> NEWS | TOP 20 |</a></li>
					<li><a href="/users/board" role="button">게시판</a></li>
					{{^sessionedUser}}
					<li><a href="/users/loginForm" role="button">로그인</a></li>
					<li><a href="/users/form" role="button">회원가입</a></li>
					{{/sessionedUser}}
					{{#sessionedUser}}
					<li><a href="/users/logout" role="button">로그아웃</a></li>
					<li><a href="/users/{{id}}/form" role="button">개인정보수정</a></li>
					{{/sessionedUser}}
				</ul>
			</div>
		</div>
	</div>

<div class="container" id="main" >

    <div class="col-md-12 col-sm-12 col-lg-12" >
    
    {{#newsContents}}
        <div class="panel panel-default" style =" border-top-style: solid; border-top-color: black;  border-top-width: 0.4rem;">
          <header class="qna-header">
              <h2 class="qna-title" style="text-align:center;">{{headline}}<!-- {{title}} --></h2>
          </header>
          <div class="content-main">
             <a href="/mainNews/{{id}}">
                      <img class= ".img-responsive" src = {{image}} style="max-width: 95%; max-height: 20%; display: block; margin-left: auto; margin-right: auto;"/>
                   </a>
              <article class="article">
              
                  <div class="article-header">
                      <div class="article-header-text">
                          <a href="/users/92/kimmunsu" class="article-author-name"><!-- {{writer.userId}} --></a>
                          <a href="/questions/413" class="article-header-time" title="퍼머링크">
                          <!--    {{formattedCreateDate}} -->
                              <i class="icon-link"></i>
                          </a>
                      </div>
                  </div>
                  <div class="article-doc" id="before"  style="padding :0; text-align:center; font-size:2rem; margin-top:1rem; margin-left:5rem; margin-right:5rem; font-family : monospace;">
                <h3>{{contents}} </h3> 
                </div>
                 <div class="article-doc" id="after"  style="display:none; padding :0; text-align: center; font-size:2rem; margin-top:1rem; margin-left:5rem; margin-right:5rem; font-family : monospace;">
              <h3 id="afterX">  </h3>
                </div>
                
              </article>
          
              <div style="margin-top:1rem; text-align:center;">
              <div style="display:inline-block; ">
               <input type="button" id="convertKor" class="btn btn-primary pull-center" value="한글로 번역하기"/>
                   <input type="hidden" id="convertEng" class="btn btn-primary pull-center" value="영어로 번역하기" />
                   </div>
                 
               </div>
        
            
                        
              <div class="qna-comment">
                  <div class="qna-comment-slipp">
                      <p class="qna-comment-count"><strong id="answerCount">{{countOfAnswer}}</strong>개의 댓글</p>
                     <br><div class="qna-comment-slipp-articles">
 {{#newsAnswers}}
                          <article class="article" id="answer-1405">
                              <div class="article-header">
                                  <div class="article-header-text">
                                      <a href="/users/1/자바지기" class="article-author-name">{{writer.userId}}</a>
                                      <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                         {{formattedCreateDate}}
                                      </a>
                                  </div>
                              </div>
                              <br>
                                <div class="article-doc comment-doc" style ="padding : 0;">
                              <p>{{contents}}</p> 
                              </div>
                              <div class="article-util" style ="text-align:right; font-size : 2rem; padding: 0;">
                                  <ul class="article-util-list">
                                      <li>
                                          <a class="link-modify-article" href="/api/news/{{news.id}}/newsAnswers/{{id}}">수정</a>
                                      </li>
                                      <li>
                                         <a class="link-delete-article" href="/api/news/{{news.id}}/newsAnswers/{{id}}">삭제</a>
                                      </li>
                                  </ul>
                              </div>
                          </article>
                    {{/newsAnswers}}
                          <form class="answer-write" method="post" action="/api/news/{{id}}/newsAnswers">
                              <div class="form-group" style="padding:14px;">
                                  <textarea class="form-control" placeholder="Update your status" name = "contents"></textarea>
                              </div>
                            <input type="submit" class="btn btn-success pull-right" value="답변하기"/>
                              <input type="button" class="btn btn-success pull-right" value="목록보기" onClick="location.href='/users/news/{{pageNum}}'"
 style="margin-right:0.2rem"  />
                              <div class="clearfix" />
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {{/newsContents}}
    </div>
</div>
<script type="text/template" id="answerTemplate">
	<article class="article">
		<div class="article-header">
			<div class="article-header-text">
				<a href="#" class="article-author-name">{0}</a>
				<div class="article-header-time">{1}</div>
			</div>
		</div>
<br>
		<div class="article-doc comment-doc" style="padding:0;">
			{2}
		</div>
		<div class="article-util" style="text-align:right; font-size : 2rem; padding: 0;">
		<ul class="article-util-list" >
			<li>
				<a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
			</li>
			<li>
				<a class="link-delete-article" href="/api/news/{3}/newsAnswers/{4}">삭제</a>
			</li>
		</ul>
		</div>
	</article>




</script>
<!-- script references -->
<!-- footer -->

<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>



$(".answer-write input[type=submit]").click(addAnswer);
function addAnswer(e){

	e.preventDefault();
	var queryString = $(".answer-write").serialize();
	console.log("query: " +queryString);
	
	var url = $(".answer-write").attr("action");
	console.log("url : " +url);
 	$.ajax({
 		type : 'post',
 		url : url,
 		data : queryString,
 		dataType : 'json',
 		error : onError,
 		success : onSuccess})  ;
 	}
 	
$("#convertKor").click(addKorConvert);

 	function addKorConvert(e){
/*  		$("#after").text(
				"dfdfd");
		$("#before").css("display","none");
 		$("#after").css("display",""); */
	
 		
	e.preventDefault();
 var text = {
 				"data" : $("#before").text()
 		};
 		
		$.ajax({
			type : "POST",
			url : "/api/papagoNMT",
			data : text, //json을 보내는 방법
			success : function(data) { //서블렛을 통한 결과 값을 받을 수 있습니다.
				console.log(data);
				//alert(data);

				//string의 값을 object 형식으로 변환합니다.
				var resulut_obj = JSON.parse(data);
				
			

				//결과값을 textarea에 넣기 위해서
				$("#afterX").text(
						resulut_obj.message.result.translatedText);
			},
			error : function(e) {
				console.log(e);
			
			}
		}); 
	

 	
		$("#convertEng").attr("type","button");
		$("#convertKor").attr("type","hidden");
 		$("#before").css("display","none");
 		$("#after").css("display","");
 		
 	}
 	$("#convertEng").click(addEngConvert);
 	function addEngConvert(e){
 		$("#convertKor").attr("type","button");
		$("#convertEng").attr("type","hidden");
		$("#before").css("display","");
 		$("#after").css("display","none");
 	}
 	
 	function onError(){
 		console.log("실패");
 		alert("로그인이 필요합니다");
 	}
 	function onSuccess(data, status){
 		
 		var answerTemplate = $("#answerTemplate").html();
 		var template = answerTemplate.format(data.writer.userId, data.formattedCreateDate, data.contents,data.news.id, data.id);
 		$(".qna-comment-slipp-articles").prepend(template);
 		$("textarea[name=contents]").val("");
 	}
 	
 	
 	$(document).on('click', '.link-delete-article', deleteAnswer);﻿
 	function deleteAnswer(e){
 		e.preventDefault();
 		
 		
 		var deleteBtn = $(this);
 		var url = deleteBtn.attr("href");
 		console.log("url :"+url);
 		
 		$.ajax({
 			type :'delete',
 			url : url,
 			dataType : 'json',
 			error : function(xhr, status){
 				console.log("error");
 		},
 		success : function(data, status){
 			
				if(data.valid){
					deleteBtn.closest("article").remove();
				}else{
					alert(data.errorMessage); 
				} 			
 		}
 	});
 }
 	
/*  	
 	$(document).on('click', '.link-update-article', updateAnswer);﻿
 	function updateAnswer(e){
 		e.preventDefault();
 		
 		
 		
 	
 }
	 */
 	
 	
 	
 	
 	
 	
 	
 	

 	
 	String.prototype.format = function() {
 		  var args = arguments;
 		  return this.replace(/{(\d+)}/g, function(match, number) {
 		    return typeof args[number] != 'undefined'
 		        ? args[number]
 		        : match
 		        ;
 		  });
 		};

</script>
	</body>
</html>